h1.name {
  color: green;
  padding: 40px 20px;
}

ul.my-details {
  border: 1px solid gray;
  padding: 40px;
}

li.detail {
  list-style-type: square;
  padding: 10px;
}

div.background {
    background-image: url("https://assets-global.website-files.com/5dcc7f8c449e597ed83356b8/5e3a384c96ecbe8564dadb2a_Artboard%20Copy%206-p-1080.png");
}